<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.r.senatorTweetsPollJob</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/KMWalsh/Desktop/science/collect_store/twitter_app/poll_job/poll_senator_tweets.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>1000</integer>
</dict>
</plist>
